[submodule "pfetch"]
	path = pfetch
	url = https://github.com/dylanaraps/pfetch
[submodule "dracula_terminator"]
	path = dracula_terminator
	url = https://github.com/dracula/terminator
[submodule "GTK4ThemeAdapter"]
	path = GTK4ThemeAdapter
	url = https://github.com/Cornul11/GTK4ThemeAdapter/
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "lsd"]
	path = lsd
	url = https://github.com/dracula/lsd
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "dotbot-flatpak"]
	path = dotbot-flatpak
	url = https://github.com/DrDynamic/dotbot-flatpak.git
[submodule "dotbot-omnipkg"]
	path = dotbot-omnipkg
	url = https://github.com/code-maniac/dotbot-omnipkg
[submodule "dracula-icons"]
	path = dracula-icons
	url = https://github.com/m4thewz/dracula-icons
[submodule "zsh/antidote"]
	path = zsh/antidote
	url = https://github.com/mattmc3/antidote
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "dotbot-yum"]
	path = dotbot-yum
	url = https://gitlab.com/flyingchipmunk/dotbot-yum.git
  ignore = all
[submodule "catpuccin_bat"]
	path = catpuccin_bat
	url = https://github.com/catppuccin/bat
[submodule "catpuccin_btop"]
	path = catpuccin_btop
	url = https://github.com/catppuccin/btop
[submodule "catppuccin_btop"]
	path = catppuccin_btop
	url = https://github.com/catppuccin/btop
[submodule "catppuccin_bat"]
	path = catppuccin_bat
	url = https://github.com/catppuccin/bat
[submodule "catppuccin_gtk"]
	path = catppuccin_gtk
	url = https://github.com/catppuccin/gtk
[submodule "catppuccin_zsh-fsh"]
	path = catppuccin_zsh-fsh
	url = https://github.com/catppuccin/zsh-fsh
[submodule "catppuccin_gedit"]
	path = catppuccin_gedit
	url = https://github.com/catppuccin/gedit
[submodule "catppuccin_slack"]
	path = catppuccin_slack
	url = https://github.com/catppuccin/slack
[submodule "catppuccin_rofi"]
	path = catppuccin_rofi
	url = https://github.com/catppuccin/rofi
[submodule "catppuccin_vim"]
	path = catppuccin_vim
	url = https://github.com/catppuccin/vim
[submodule "catppuccin_qbittorrent"]
	path = catppuccin_qbittorrent
	url = https://github.com/catppuccin/qbittorrent
[submodule "catppuccin_discord"]
	path = catppuccin_discord
	url = https://github.com/catppuccin/discord
[submodule "catppuccin_cava"]
	path = catppuccin_cava
	url = https://github.com/catppuccin/cava
[submodule "catppuccin_k9s"]
	path = catppuccin_k9s
	url = https://github.com/catppuccin/k9s
[submodule "catppuccin_lazygit"]
	path = catppuccin_lazygit
	url = https://github.com/catppuccin/lazygit
[submodule "catppuccin_hyprland"]
	path = catppuccin_hyprland
	url = https://github.com/catppuccin/hyprland
[submodule "catppuccin_waybar"]
	path = catppuccin_waybar
	url = https://github.com/catppuccin/waybar
[submodule "catppuccin_foot"]
	path = catppuccin_foot
	url = https://github.com/catppuccin/foot
