{
    "name": "{{scheme-name}}",
    "primary": "#{{base0D-hex}}",
    "primaryText": "#{{base00-hex}}",
    "primaryContainer": "#{{base0C-hex}}",
    "secondary": "#{{base0E-hex}}",
    "surface": "#{{base01-hex}}",
    "surfaceText": "#{{base0F-hex}}",
    "surfaceVariant": "#{{base02-hex}}",
    "surfaceVariantText": "#{{base06-hex}}",
    "surfaceTint": "#{{base0D-hex}}",
    "background": "#{{base00-hex}}",
    "backgroundText": "#{{base07-hex}}",
    "outline": "#{{base04-hex}}",
    "surfaceContainer": "#{{base02-hex}}",
    "surfaceContainerHigh": "#{{base03-hex}}",
    "error": "#{{base08-hex}}",
    "warning": "#{{base09-hex}}",
    "info": "#{{base0C-hex}}"
}
