{
  "document": {
    "block_prefix": "\n",
    "block_suffix": "\n",
    "color": "#{{base05-hex}}",
    "margin": 2
  },
  "block_quote": {
    "indent": 1,
    "indent_token": "│ "
  },
  "paragraph": {},
  "list": {
    "level_indent": 2
  },
  "heading": {
    "block_suffix": "\n",
    "color": "#{{base05-hex}}",
    "bold": true
  },
  "h1": {
    "prefix": "▓▓▓ ",
    "suffix": " ",
    "color": "#{{base08-hex}}",
    "bold": true
  },
  "h2": {
    "prefix": "▓▓▓▓ ",
    "color": "#{{base0A-hex}}"
  },
  "h3": {
    "prefix": "▓▓▓▓▓ ",
    "color": "#{{base09-hex}}"
  },
  "h4": {
    "prefix": "▓▓▓▓▓▓ ",
    "color": "#{{base0B-hex}}"
  },
  "h5": {
    "prefix": "▓▓▓▓▓▓▓ ",
    "color": "#{{base0C-hex}}"
  },
  "h6": {
    "prefix": "▓▓▓▓▓▓▓▓ ",
    "color": "#{{base0D-hex}}"
  },
  "text": { },
  "strikethrough": {
    "crossed_out": true
  },
  "emph": {
    "italic": true
  },
  "strong": {
    "bold": true
  },
  "hr": {
    "color": "#{{base0D-hex}}",
    "format": "\n--------\n"
  },
  "item": {
    "block_prefix": "• "
  },
  "enumeration": {
    "block_prefix": ". "
  },
  "task": {
    "ticked": "[✓] ",
    "unticked": "[ ] "
  },
  "link": {
    "color": "#{{base0D-hex}}",
    "underline": true
  },
  "link_text": {
    "color": "#{{base0E-hex}}",
    "bold": true
  },
  "image": {
    "color": "#{{base0D-hex}}",
    "underline": true
  },
  "image_text": {
    "color": "#{{base0E-hex}}",
    "format": "Image: {.text} →"
  },
  "code": {
    "prefix": " ",
    "suffix": " ",
    "color": "#{{base03-hex}}",
    "background_color": "#{{base00-hex}}"
  },
  "code_block": {
    "color": "#{{base00-hex}}",
    "margin": 2,
    "chroma": {
      "text": {
        "color": "#{{base05-hex}}"
      },
      "error": {
        "color": "#{{base05-hex}}",
        "background_color": "#{{base08-hex}}"
      },
      "comment": {
        "color": "#{{base0D-hex}}"
      },
      "comment_preproc": {
        "color": "#{{base0D-hex}}"
      },
      "keyword": {
        "color": "#{{base03-hex}}"
      },
      "keyword_reserved": {
        "color": "#{{base03-hex}}"
      },
      "keyword_namespace": {
        "color": "#{{base09-hex}}"
      },
      "keyword_type": {
        "color": "#{{base09-hex}}"
      },
      "operator": {
        "color": "#{{base0C-hex}}"
      },
      "punctuation": {
        "color": "#{{base0F-hex}}"
      },
      "name": {
        "color": "#{{base0D-hex}}"
      },
      "name_builtin": {
        "color": "#{{base0A-hex}}"
      },
      "name_tag": {
        "color": "#{{base03-hex}}"
      },
      "name_attribute": {
        "color": "#{{base09-hex}}"
      },
      "name_class": {
        "color": "#{{base09-hex}}"
      },
      "name_constant": {
        "color": "#{{base09-hex}}"
      },
      "name_decorator": {
        "color": "#{{base0E-hex}}"
      },
      "name_exception": { },
      "name_function": {
        "color": "#{{base0D-hex}}"
      },
      "name_other": { },
      "literal": { },
      "literal_number": {
        "color": "#{{base0A-hex}}"
      },
      "literal_date": { },
      "literal_string": {
        "color": "#{{base0B-hex}}"
      },
      "literal_string_escape": {
        "color": "#{{base0E-hex}}"
      },
      "generic_deleted": {
        "color": "#{{base08-hex}}"
      },
      "generic_emph": {
        "color": "#{{base05-hex}}",
        "italic": true
      },
      "generic_inserted": {
        "color": "#{{base0B-hex}}"
      },
      "generic_strong": {
        "color": "#{{base05-hex}}",
        "bold": true
      },
      "generic_subheading": {
        "color": "#{{base0C-hex}}"
      },
      "background": {
        "background_color": "#{{base00-hex}}"
      }
    }
  },
  "table": {
    "center_separator": "┼",
    "column_separator": "│",
    "row_separator": "─"
  },
  "definition_list": { },
  "definition_term": { },
  "definition_description": {
    "block_prefix": "\n🠶 "
  },
  "html_block": { },
  "html_span": { }
}

