[delta "delta-theme"]
	blame-palette = "#{{base00-hex}} #{{base01-hex}} #{{base00-hex}} #{{base02-hex}} #{{base03-hex}}"
	commit-decoration-style = "#{{base0C-hex}}" box
	dark = true
	file-decoration-style = "#{{base0C-hex}}" overline
	file-style = bold "#{{base05-hex}}" "#{{base01-hex}}"
	right-arrow = "->"
	hunk-header-decoration-style = "#{{base0C-hex}}" box
	hunk-header-file-style = bold "#{{base0C-hex}}"
	hunk-header-line-number-style = bold "#{{base04-hex}}"
	hunk-header-style = omit
	line-numbers = true
	line-numbers-left-format = "│{nm:^4}│"
	line-numbers-right-format = "│{np:^4}│"
	line-numbers-left-style = "#{{base03-hex}}"
	line-numbers-minus-style = bold "#{{base08-hex}}"
	line-numbers-plus-style = bold "#{{base0B-hex}}"
	line-numbers-right-style = "#{{base03-hex}}"
	line-numbers-zero-style = "#{{base03-hex}}"
	minus-emph-style = bold syntax "@mix:{{base00-hex}}:{{base08-hex}}:35@"
	minus-style = syntax "@mix:{{base00-hex}}:{{base08-hex}}:20@"
	plus-emph-style = bold syntax "@mix:{{base00-hex}}:{{base0B-hex}}:35@"
	plus-style = syntax "@mix:{{base00-hex}}:{{base0B-hex}}:20@"
	map-styles = \
		bold purple => syntax "@mix:{{base00-hex}}:{{base0E-hex}}:35@", \
		bold blue => syntax "@mix:{{base00-hex}}:{{base0D-hex}}:35@", \
		bold cyan => syntax "@mix:{{base00-hex}}:{{base0C-hex}}:35@", \
		bold yellow => syntax "@mix:{{base00-hex}}:{{base0A-hex}}:35@"
	whitespace-error-style = "#{{base08-hex}}" reverse
	file-added-label = [●]
	file-copied-label = [C]
	file-modified-label = [+]
	file-removed-label = [✗]
	file-renamed-label = [->]
  syntax-theme = everforest-dark
