[delta "delta-theme"]
	blame-palette = "#{{base00-hex}} #{{base01-hex}} #11111b #{{base02-hex}} #{{base03-hex}}"
	commit-decoration-style = box ul
	dark = true
	file-decoration-style = "#{{base05-hex}}"
	file-style = "#{{base05-hex}}"
	hunk-header-decoration-style = box ul
	hunk-header-file-style = bold
	hunk-header-line-number-style = bold "#a6adc8"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = "#6c7086"
	line-numbers-minus-style = bold "#{{base08-hex}}"
	line-numbers-plus-style = bold "#{{base0B-hex}}"
	line-numbers-right-style = "#6c7086"
	line-numbers-zero-style = "#6c7086"
	minus-emph-style = bold syntax "#53394c"
	minus-style = syntax "#34293a"
	plus-emph-style = bold syntax "#404f4a"
	plus-style = syntax "#2c3239"
	map-styles = \
		bold purple => syntax "#494060", \
		bold blue => syntax "#384361", \
		bold cyan => syntax "#384d5d", \
		bold yellow => syntax "#544f4e"
  syntax-theme = 
