code,
pre,
.blob-code,
.blob-code-inner,
.react-code-text,
.highlight {
  font-family:
    "Iosevka Comfy Wide", "Iosevka Comfy Wide Extended", ui-monospace, monospace !important;

  font-size: 14px !important;
  line-height: 1.65 !important;

  /* match Iosevka defaults */
  font-variant-ligatures: contextual !important;
  font-variant-numeric: tabular-nums !important;
}

.blob-num {
  font-family:
    "Iosevka Comfy Wide", "Iosevka Comfy Wide Extended", ui-monospace, monospace !important;
}
