[Unit]
Description=Pre-Shutdown Processes
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/killsteam.sh

[Install]
WantedBy=halt.target reboot.target shutdown.target
