[Unit]
Description=Kickoff Minikube Cluster
After=docker.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/minikube start
RemainAfterExit=true
ExecStop=/usr/bin/minikube stop
StandardOutput=journal
User=e215142
Group=e215142

[Install]
WantedBy=multi-user.target
