[Unit]
Description=Ensures pwquality is run at boot
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pwquality.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
