@import "mocha.css";
* {
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  /* margin: 0px 0px 0px 0px; */
  min-height: 0;
}
#batt {
  background-color: @surface0;
  background:
    linear-gradient(@surface0, @surface0) padding-box,
    linear-gradient(
        135deg,
        rgba(255, 118, 164, 1) 0%,
        rgba(192, 17, 215, 1) 100%
      )
      border-box;
  border-radius: 5em;
  padding-left: 10px;
  padding-right: 10px;
}
#backlight {
  color: @rosewater;
}
#battery {
  color: @green;
}
#battery.charging {
  color: @green;
}
#battery.warning:not(.charging) {
  color: @red;
}
#power-profiles-daemon.performance {
  color: @maroon;
}
#power-profiles-daemon.balanced {
  color: @sapphire;
}
#power-profiles-daemon.power-saver {
  color: @green;
}
#bluetooth {
  color: @sky;
}
#clock {
  background-color: @surface0;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 10px;
  color: @lavender;
}
#custom-powerbutton {
  color: @red;
  padding-left: 10px;
  padding-right: 10px;
}
#custom-restartbutton {
  color: @yellow;
  padding-left: 10px;
  padding-right: 10px;
}
#custom-sleepbutton {
  color: @green;
  padding-left: 10px;
  padding-right: 10px;
}
#custom-lockbutton {
  color: @mauve;
  padding-left: 10px;
  padding-right: 10px;
}
#custom-exitbutton {
  color: @maroon;
  padding-left: 10px;
  padding-right: 10px;
}
#mpris {
  color: @lavender;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 10px;
  background-color: @surface0;
}
#custom-weather {
  color: @text;
  background-color: @surface0;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 10px;
}
#language {
  color: @teal;
  background-color: @surface0;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 10px;
}
#custom-notifications {
  background-color: @surface0;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 3px;
  color: @peach;
}
#network {
  color: @flamingo;
}
#net {
  background-color: @surface0;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 10px;
}
#powermenu {
  background-color: @surface0;
  border-radius: 5em;
  margin-left: 10px;
  padding-left: 3px;
}
#powermenuout {
  padding-left: 10px;
  padding-right: 10px;
}
#pulseaudio {
  color: @maroon;
  background-color: @surface0;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 10px;
  border-width: 2px;
}
#tray {
  background-color: @surface0;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 10px;
  color: @flamingo;
}
#window {
  background-color: @surface0;
  border-radius: 5em;
  padding-right: 10px;
  padding-left: 10px;
  color: @flamingo;
}
#workspaces button {
  border-radius: 5rem;
  color: @sky;
}
#workspaces button.active {
  background-color: @mauve;
  color: @mantle;
}
#workspaces button.empty {
  color: @yellow;
}
#workspaces button.special {
  color: @blue;
}
#workspaces button.hover {
  color: @rosewater;
}
#workspaces button.urgent {
  color: @red;
}
#workspaces {
  background-color: @surface0;
  border-radius: 4em;
  /* padding-right: 10px; */
}

tooltip label {
  color: @text;
}
tooltip {
  background: @base;
  border: 1px solid @pink;
}
window#waybar {
  /* background-color: @background; */
  background-color: rgba(0, 0, 0, 0);
  font-family: Fira Sans;
  margin-top: 10px;
  /* color: #000000; */
  /* min-width: 15px; */
  /* transition-duration: 0.5s; */
  /* transition-property: background-color; */
}
