# yaml-language-server: $schema=https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json
var:
  PromptChar: ❯
secondary_prompt:
  template: '❯❯ '
  foreground: magenta
  background: transparent
transient_prompt:
  template: '❯ '
  background: transparent
  foreground_templates:
    - '{{if gt .Code 0}}red{{end}}'
    - '{{if eq .Code 0}}green{{end}}'
blocks:
  - type: prompt
    alignment: left
    segments:
      - template: '{{ if .SSHSession }} {{ end }}'
        foreground: magenta
        background: transparent
        type: session
        style: plain
      - template: <b>{{ .Path }}</b>
        foreground: blue
        background: transparent
        type: path
        options:
          style: full
      - template: ' {{ .UpstreamIcon }} {{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}  {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }} '
        foreground: black
        powerline_symbol: 
        background: green
        type: git
        style: powerline
        foreground_templates:
          - '{{ if or (.Working.Changed) (.Staging.Changed) }}black{{ end }}'
          - '{{ if and (gt .Ahead 0) (gt .Behind 0) }}black{{ end }}'
          - '{{ if gt .Ahead 0 }}black{{ end }}'
        background_templates:
          - '{{ if or (.Working.Changed) (.Staging.Changed) }}lightYellow{{ end }}'
          - '{{ if and (gt .Ahead 0) (gt .Behind 0) }}red{{ end }}'
          - '{{ if gt .Ahead 0 }}blue{{ end }}'
          - '{{ if gt .Behind 0 }}lightRed{{ end }}'
  - type: prompt
    alignment: right
    segments:
      - leading_diamond: 
        trailing_diamond: 
        template: '{{ $context := splitList "/" .Context }}{{ index $context 0 }}'
        foreground: black
        background: lightBlue
        type: kubectl
        style: diamond
      - leading_diamond: 
        trailing_diamond: 
        template: <b>{{ $known := list "global" "restricted" "pci-global" "pci-restricted" "prod" "pci-prod" "cts" "sandbox" "pilot" "dts-global" "dc1-prod" "dc2-prod" "dc1-pci-prod" "dc2-pci-prod" }}{{ if (has .Context $known) }}{{ .Context }}{{ else }}{{ $cluster := regexReplaceAll "^api-(os-)?" .Cluster "" }}{{ regexReplaceAll "-finods.*" $cluster "" }}{{ end }}</b>
        foreground: black
        background: cyan
        type: kubectl
        style: diamond
      - leading_diamond: 
        trailing_diamond: 
        template: '{{ .Namespace }}'
        foreground: black
        background: yellow
        type: kubectl
        style: diamond
  - type: prompt
    alignment: left
    segments:
      - template: ❯
        background: transparent
        type: text
        style: plain
        foreground_templates:
          - '{{if gt .Code 0}}red{{end}}'
          - '{{if eq .Code 0}}magenta{{end}}'
    newline: true
version: 4
async: true
final_space: true
