layout {
    gaps 16
    background-color "transparent"
    focus-ring {
        width 2
        active-gradient from="#e0af68" to="#7dcfff" angle=45
    }
    always-center-single-column
    default-column-width {
        proportion 0.3333
    }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-display "normal"
}
