output "DP-1" {
    mode "3440x1440@100"
    position x=0 y=0
    scale 1
    transform "normal"
    variable-refresh-rate
}
output "DP-2" {
    mode "3440x1440@100"
    position x=3440 y=0
    scale 1
    transform "normal"
    variable-refresh-rate
}
output "DP-3" {
    mode "3440x1440@100"
    scale 1
    transform "normal"
    variable-refresh-rate
}
output "DP-4" {
    mode "3440x1440@100"
    position x=10320 y=0
    scale 1
    transform "normal"
    variable-refresh-rate
}
output "DP-5" {
    mode "3440x1440@100"
    scale 1
    transform "normal"
    variable-refresh-rate
}
output "DP-7" {
    mode "3440x1440@100"
    scale 1
    transform "normal"
    variable-refresh-rate
}
output "eDP-1" {
    mode "3840x2160@120"
    transform "normal"
    position x=0 y=0
}
