[Dynamic]
text               = {{base05-hex}}
subtext            = {{base05-hex}}
main               = {{base00-hex}}
sidebar            = {{base00-hex}}
player             = {{base00-hex}}
card               = {{base00-hex}}
shadow             = {{base00-hex}}
selected-row       = {{base0B-hex}}
button             = {{base0A-hex}}
button-active      = {{base0B-hex}}
button-disabled    = {{base0D-hex}}
tab-active         = {{base0A-hex}}
notification       = {{base00-hex}}
notification-error = {{base0A-hex}}
misc               = {{base00-hex}}
