gui:
  theme:
    activeBorderColor:
      - '#{{@base0C-hex}}'
      - bold
    inactiveBorderColor:
      - '#{{@base05-hex}}'
    optionsTextColor:
      - '#{{@base0C-hex}}'
    selectedLineBgColor:
      - '#{{@base00-hex}}'
    cherryPickedCommitBgColor:
      - '#{{@base05-hex}}'
    cherryPickedCommitFgColor:
      - '#{{@base0D-hex}}'
    unstagedChangesColor:
      - '#{{@base08-hex}}'
    defaultFgColor:
      - '#{{@base05-hex}}'
    searchingActiveBorderColor:
      - '#{{@base0A-hex}}'

  authorColors:
    '*': '#{{@base0D-hex}}'
